<ion-header>
  <ion-toolbar color="dark" >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> 
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>REGISTRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="success" [fullscreen]="true">
 
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-card-title>Crea tu cuenta</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="nombre" name="nombre" required></ion-input>
        </ion-item>
        <div *ngIf="nombreError" class="error-message">
          {{ nombreError }}
        </div>
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input [(ngModel)]="apellido" name="apellido" required ></ion-input>
        </ion-item>
        <div *ngIf="apellidoError" class="error-message">
          {{ apellidoError }}
        </div>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
        </ion-item>
        <div *ngIf="emailError" class="error-message">
          {{ emailError }}
        </div>
        <ion-item>
          <ion-label position="floating">Clave</ion-label>
          <ion-input [(ngModel)]="clave" name="clave" type="password"  [type]="mostrarClave ? 'text' : 'password'" required></ion-input>
          <ion-icon class="eye-icon" name="eye" slot="end" (click)="toggleMostrarClave()"></ion-icon>
        </ion-item>
        <div *ngIf="error" class="error-message">
          {{ claveError }}
        </div>
        <ion-item>
          <ion-label position="floating">Repetir Clave</ion-label>
          <ion-input [(ngModel)]="repetirClave" name="repetirClave" type="password" [type]="mostrarClave ? 'text' : 'password'" required></ion-input>
        </ion-item>
        <div *ngIf="error" class="error-message">
          {{ error }}
        </div>
      </ion-list>
    
      <ion-button expand="full" size="small" color="dark" (click)="registrarse()">Registrarse</ion-button>

     
    
      
    </ion-card-content> 


  </ion-card> 

 

 
</ion-content>