.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  .eye-icon {
    cursor: pointer;
    margin-top: 30px; /* Ajusta este valor según tu diseño */
    margin-right: 0px;
    color: #666;
  }