<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button> 
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">RSN-PHONE</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar color="light" show-clear-button="always" value=""></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="divDescuento"><ion-text class="descuento">20%</ion-text></div>
  <div style="text-align: center;"><img style="max-width: 300px; width: 100%;" alt="" src="https://media.solotodo.com/media/products/1570861_picture_1650710809.jpg" class="image" /></div>
  <div><ion-text style="font-size: 14px; color: #757478; margin-left: 15px;"><b>XIAOMI</b></ion-text> </div> 
    <ion-text style="color: #000000; font-size: 18px; margin-left: 15px;"><b>12 PRO</b></ion-text><hr>
    <div><ion-text style="color: #757478; font-size: 15px; margin-left: 15px;"><s>$699.990</s></ion-text></div>
    <ion-text style="color: #000000; font-size: 18px; margin-left: 15px;">$550.000</ion-text>  
  
    <ion-button fill="clear" class="btn" expand="block" [routerLink]="['/xiaomi1']">Ver producto</ion-button>
    <hr size="5px" width="100%" color="gray"/>
    <hr>

  
  <div style="text-align: center;"><img style="max-width: 300px; width: 100%;" alt="" src="https://media.solotodo.com/media/products/1457936_picture_1631629573.jpg" class="image" /></div>
  <div><ion-text style="font-size: 14px; color: #757478; margin-left: 15px;"><b>XIAOMI</b></ion-text> </div> 
    <ion-text style="color: #000000; font-size: 18px; margin-left: 15px;"><b>MI 11 ULTRA </b></ion-text><hr>
    <ion-text style="color: #000000; font-size: 18px; margin-left: 15px;">$874.990</ion-text>   
    
    <ion-button fill="clear" class="btn" expand="block" [routerLink]="['/xiaomi2']">Ver producto</ion-button>
    <hr size="5px" width="100%" color="gray"/>
    <hr>

  
  <div style="text-align: center;"><img style="max-width: 300px; width: 100%;" alt="" src="https://media.solotodo.com/media/products/1766101_picture_1685100138.webp" class="image" /></div>
  <div><ion-text style="font-size: 14px; color: #757478; margin-left: 15px;"><b>XIAOMI</b></ion-text> </div> 
    <ion-text style="color: #000000; font-size: 18px; margin-left: 15px;"><b>13 ULTRA </b></ion-text><hr>
    <ion-text style="color: #000000; font-size: 18px; margin-left: 15px;">$1.399.990</ion-text>  
      
    <ion-button fill="clear" class="btn" expand="block" [routerLink]="['/xiaomi3']">Ver producto</ion-button>
    <hr size="5px" width="100%" color="gray"/>
    <hr>


  
     
      
      
  
      
  
  
  
  
  
  
  
  
        
   