<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button> 
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">RSN-PHONE</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar color="light" show-clear-button="always" value=""></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <div class="divDescuento"><ion-text class="descuento">20%</ion-text></div>

  <!-- Producto 1 -->
  <div class="product-box">
    <div style="text-align: center;">
      <img style="max-width: 300px; width: 100%;" alt="" src="https://media.solotodo.com/media/products/1570861_picture_1650710809.jpg" class="image" />
    </div>
    <div>
      <ion-text style="font-size: 14px; color: #757478; margin-left: 15px;"><b>XIAOMI</b></ion-text>
    </div>
    <ion-text style="color: #000000; font-size: 18px; margin-left: 15px;"><b>12 PRO</b></ion-text>
    <hr>
    <div><ion-text style="color: #757478; font-size: 15px; margin-left: 15px;"><s>$699.990</s></ion-text></div>
    <ion-text style="color: #000000; font-size: 18px; margin-left: 15px;">$550.000</ion-text>

    <ion-button fill="clear" class="btn" expand="block" (click)="agregarAlCarrito('Xiaomi 12 Pro', 'https://media.solotodo.com/media/products/1570861_picture_1650710809.jpg', 550000)">
      Agregar al carrito
    </ion-button>
    <hr size="5px" width="100%" color="gray"/>
    <hr>
  </div>

  <!-- Producto 2 -->
  <div class="product-box">
    <div style="text-align: center;">
      <img style="max-width: 300px; width: 100%;" alt="" src="https://media.solotodo.com/media/products/1457936_picture_1631629573.jpg" class="image" />
    </div>
    <div>
      <ion-text style="font-size: 14px; color: #757478; margin-left: 15px;"><b>XIAOMI</b></ion-text>
    </div>
    <ion-text style="color: #000000; font-size: 18px; margin-left: 15px;"><b>MI 11 ULTRA </b></ion-text>
    <hr>
    <ion-text style="color: #000000; font-size: 18px; margin-left: 15px;">$874.990</ion-text>

    <ion-button fill="clear" class="btn" expand="block" (click)="agregarAlCarrito('Xiaomi Mi 11 Ultra', 'https://media.solotodo.com/media/products/1457936_picture_1631629573.jpg', 874990)">
      Agregar al carrito
    </ion-button>
    <hr size="5px" width="100%" color="gray"/>
    <hr>
  </div>

  <!-- Producto 3 -->
  <div class="product-box">
    <div style="text-align: center;">
      <img style="max-width: 300px; width: 100%;" alt="" src="https://media.solotodo.com/media/products/1766101_picture_1685100138.webp" class="image" />
    </div>
    <div>
      <ion-text style="font-size: 14px; color: #757478; margin-left: 15px;"><b>XIAOMI</b></ion-text>
    </div>
    <ion-text style="color: #000000; font-size: 18px; margin-left: 15px;"><b>13 ULTRA </b></ion-text>
    <hr>
    <ion-text style="color: #000000; font-size: 18px; margin-left: 15px;">$1.399.990</ion-text>

    <ion-button fill="clear" class="btn" expand="block" (click)="agregarAlCarrito('Xiaomi 13 Ultra', 'https://media.solotodo.com/media/products/1766101_picture_1685100138.webp', 1399990)">
      Agregar al carrito
    </ion-button>
    <hr size="5px" width="100%" color="gray"/>
    <hr>
  </div>

  <!-- Área del carrito -->
<div *ngIf="carrito.length > 0" class="carrito-container">
  <ion-icon name="cart-outline" class="carrito-icono"></ion-icon>
  <h2 class="carrito-titulo-texto">Carrito de Compras</h2>

  <div class="productos-carrito">
    <div *ngFor="let item of carrito; let i = index" class="product-box-carrito">
      <div style="text-align: center;">
        <img [src]="item.imagen" alt="{{ item.nombre }}" class="image-achicada" />
      </div>
      <div>
        <ion-text style="font-size: 12px; color: #757478; margin-left: 5px;"><b>{{ item.nombre }}</b></ion-text>
      </div>
      <ion-text style="color: #000000; font-size: 14px; margin-left: 5px;">{{ item.precio | currency }}</ion-text>
      <!-- Agrega el botón de eliminar con color rojo -->
      <ion-button fill="clear" class="btn-eliminar" color="danger" (click)="eliminarDelCarrito(i)">Eliminar</ion-button>
    </div>
  </div>

  <p>Total del Carrito: {{ totalCarrito | currency }}</p>
  <ion-button fill="clear" class="btn" expand="block" [routerLink]="['/compra']">
    Ir a Compra
  </ion-button>
</div>


    
    
     
      
      
  
      
  
  
  
  
  
  
  
  
        
   