<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> 
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>xiaomi</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar show-clear-button="always" value=""></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">




  <div class="ion-text-center ion-align-items-center">
    <div class="product-box">
      <div class="item">
        <ion-img 
          class="imagen-achicada2"
          src="https://media.solotodo.com/media/products/1570861_picture_1650710809.jpg"
          alt="Imagen desde URL">
        </ion-img>
      </div>
      <div class="product-info">
        <div><ion-label>
          <h4>Xiaomi 12 Pro </h4>
          <p class="price">$699.990</p>
        </ion-label></div> 
        <div class="button-container">
          <ion-button class="botones-achicados" expand="block" [routerLink]="['/xiaomi1']">Ver más</ion-button>
          <ion-button class="botones-achicados" expand="block">Comprar</ion-button>
        </div>
    </div>
  </div>

  
  <div class="ion-text-center ion-align-items-center">
    <div class="product-box">
      <div class="item">
        <ion-img 
          class="imagen-achicada2"
          src="https://media.solotodo.com/media/products/1457936_picture_1631629573.jpg"
            alt="Imagen desde URL">
          </ion-img>
        </div>  
          <div><ion-label>
            <h4>Xiaomi Mi 11 Ultra </h4>
            <p class="price">$874.990</p>
          </ion-label></div> 
        <div class="button-container">
          <ion-button class="botones-achicados" expand="block" [routerLink]="['/xiaomi2']">Ver más</ion-button>
          <ion-button class="botones-achicados" expand="block">Comprar</ion-button>
        </div>
    </div>
  </div>

  <div class="ion-text-center ion-align-items-center">
    <div class="product-box">
      <div class="item">
        <ion-img 
          class="imagen-achicada2"
          src="https://media.solotodo.com/media/products/1766101_picture_1685100138.webp" 
             alt="Imagen desde URL">
          </ion-img>
        </div>

          <div><ion-label>
            <h4>Xiaomi 13 Ultra </h4>
            <p class="price">$1.399.990</p>
          </ion-label></div>
 
        <div class="button-container">
          <ion-button class="botones-achicados" expand="block" [routerLink]="['/xiaomi3']">Ver más</ion-button>
          <ion-button class="botones-achicados" expand="block">Comprar</ion-button>
        </div>
    </div>
  </div>
  
      
  
  
  
  
  
  
  
  
        
   