.botones-achicados {
  font-size: 12px;
  padding: 6px 12px;
  
}

.imagen-achicada {
  width: 210px; 
  height: auto;
}

.imagen-achicada2 {
  width: 170px; 
  height: auto;
}

.botones-achicados {
  font-size: 12px;
  padding: 6px 12px;
  

  
}
.title {
  color: rgb(255, 255, 255); 
}

$colors: (
verde-personalizado: hwb(120 16% 45% / 0.918) 
);

.item{
padding-inline: 100px;
}  
.product-box {
display: flex;
flex-direction: column;
align-items: center;
background-color: rgb(255, 255, 255);
box-shadow: 0 0 15px 0   rgb(255, 2, 2);
border-radius: 40px;
padding: 40px;
margin: 20px;
}
.product-info {
text-align: center;
}
ion-header ion-toolbar {
--background: #322E2E; 
}
ion-header ion-toolbar:nth-child(2) {
--background: #322E2E; 
}
ion-header, ion-toolbar, ion-content {
--background: #ffffff; 
}
.btn{
color: white;
background-color: #F43435;
border-radius: 50px ;
margin-bottom: 30px;

}
.divDescuento{
text-align: end;
margin-right: 10px;
margin-top: 10px;
}
.descuento{
display: inline-block;
background-color: #F43435;
font-size: 18px;
color: rgb(255, 255, 255);
padding: 10px;
border-radius: 8px;
}
.product-box-carrito {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;

  .image-achicada {
    max-width: 100px; /* Ajusta el tamaño de la imagen según tu necesidad */
    width: 100%;
    margin-bottom: 5px;
  }

  .btn-eliminar {
    margin-top: 5px;
  }
}
.carrito-container {
  padding: 15px;
  border-top: 1px solid #ccc;
}

.carrito-titulo {
  display: flex;
  align-items: center;
}

.carrito-icono {
  font-size: 24px;
  margin-right: 10px;
}

.carrito-titulo-texto {
  font-size: 20px;
  font-weight: bold;
}
.productos-carrito {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-box-carrito {
  width: 48%; /* Ajusta según sea necesario, puede variar según márgenes y rellenos */
  margin-bottom: 15px;
}

.btn-eliminar {
  color: red; /* Color del texto del botón */
}
