.content {
    padding: 20px;
  
    .additional-content {
      margin-top: 10px;
      display: none;
  
      p {
        color: #555;
      }
    }
  
    .read-more-button {
      margin-top: 10px;
      width: 100%;
      max-width: 200px; /* Ajusta el ancho máximo según tus preferencias */
      margin: 0 auto;
      display: block;
      background-color: #13dc0c;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #13dc0c;
      }
    }
  }