<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button> 
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">RSN-PHONE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
     
  <div style="text-align: center;"><img style="max-width: 300px; width: 100%;" alt="" src="https://images.squarespace-cdn.com/content/v1/589356e4e4fcb5bf186265fb/1661523516886-8YVSN09SQ70A6Y12G5EQ/Samsung-Galaxy-Fold4-Grey-Green-Front.png?format=500w" class="image" /></div>
  
    <ion-text style="text-align: center; color: #000000; font-size: 18px; margin-left: 85px;"><b>SAMSUNG GALAXY Z FOLD 2</b></ion-text><hr>
        <ion-label>
            <h2 style="text-align: center;" > $799.990</h2>
          </ion-label>
        
      
   

    <ion-button fill="clear" class="btn" expand="block" >Comprar </ion-button>
    <ion-button fill="clear" class="btn" expand="block" >Añadir al carro </ion-button>
    <div class="content">
      
      <div *ngIf="showFullContent">
        <ion-item>
          <ion-label>
            Pantalla: 6,7 pulgadas FHD
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Procesador: Qualcomm Snapdragon 8 Gen 2 
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            128 GB de memoria
          </ion-label>
        </ion-item>
      </div>
      <button ion-button class="read-more-button" (click)="toggleContent()">
        {{ showFullContent ? 'Leer menos' : 'Ver  especificaciones' }}
      </button>
    </div>
  
 

</ion-content>

