<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> 
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>samsung1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="subirim">
     
    <img alt="" src="https://images.squarespace-cdn.com/content/v1/589356e4e4fcb5bf186265fb/1661523516886-8YVSN09SQ70A6Y12G5EQ/Samsung-Galaxy-Fold4-Grey-Green-Front.png?format=500w"  class="image" />
    <ion-item>
      <ion-label><h1>Samsung Galaxy Z Fold 2</h1></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2> $799.990</h2>
      </ion-label>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-select aria-label="Fruit" interface="popover" placeholder="Cantidad">
          <ion-select-option value="apples">1</ion-select-option>
          <ion-select-option value="oranges">2</ion-select-option>
          <ion-select-option value="bananas">3</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-select aria-label="Fruit" interface="popover" placeholder="Color">
          <ion-select-option value="red">Rojo</ion-select-option>
          <ion-select-option value="black">Negro</ion-select-option>
          <ion-select-option value="blue">Azul</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button class="botones-achicados" expand="block" >Comprar </ion-button>
  
    <div class="content">
      <div *ngIf="showFullContent">
        <ion-item>
          <ion-label>
            Pantalla: 6,7 pulgadas FHD
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Procesador: Qualcomm Snapdragon 8 Gen 2 
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            128 GB de memoria
          </ion-label>
        </ion-item>
      </div>
      <button ion-button class="read-more-button" (click)="toggleContent()">
        {{ showFullContent ? 'Leer menos' : 'Leer más' }}
      </button>
    </div>
  </ion-card>
 
</ion-content>
