
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="light"></ion-back-button> 
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title class="title">RSN-PHONE</ion-title>
    </ion-toolbar>

  <ion-card>
      <ion-card-header>
        Eliminar Celular
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Nombre del Celular a Eliminar</ion-label>
          <ion-input placeholder="Nombre del celular"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Código del Celular a Eliminar</ion-label>
          <ion-input placeholder="Código del celular"></ion-input>
          <ion-button expand="full">Eliminar</ion-button>
        </ion-item>
        
      </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Eliminar Celular
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nombre del Celular </ion-label>
        <ion-input placeholder="Nombre del celular"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Código del Celular</ion-label>
        <ion-input placeholder="Código del celular"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"> Precio </ion-label>
        <ion-input placeholder="Código del celular"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"> Subir foto de celular </ion-label>
        <input type="file">
      
      </ion-item>
      
  


