<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> 
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Samsung Galaxy S23</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card class="subiri">
   
      <img alt="" src="https://media.solotodo.com/media/products/1714786_picture_1675314264.webp" class="image" />
      <ion-item>
         <ion-label><h1>Samsung Galaxy S23 Ultra</h1></ion-label>
      </ion-item>
      <ion-item>
          <ion-label>
            <h2> $929.990</h2>
          </ion-label>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-select aria-label="Fruit" interface="popover" placeholder="Cantidad">
            <ion-select-option value="apples">1</ion-select-option>
            <ion-select-option value="oranges">2</ion-select-option>
            <ion-select-option value="bananas">3</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-select aria-label="Fruit" interface="popover" placeholder="Color">
            <ion-select-option value="red">Rojo</ion-select-option>
            <ion-select-option value="black">Negro</ion-select-option>
            <ion-select-option value="blue">Azul</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-button class="botones-achicados" expand="block" >Comprar </ion-button>

      <div class="content">
        <div *ngIf="showFullContent">
          <ion-item>
            <ion-label>
              Pantalla: Tamaño 173.1mm
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              Procesador: Tipo CPU Octa-Core
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              128 GB de memoria
            </ion-label>
          </ion-item>
        </div>
        <button ion-button class="read-more-button" (click)="toggleContent()">
          {{ showFullContent ? 'Leer menos' : 'Leer más' }}
        </button>
      </div>
  </ion-card>
</ion-content>  

