<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> 
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-card-title>Iniciar sesion</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input label="Nombre" labelPlacement="floating" fill="solid" type="text" placeholder="Ingresar usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Contraseña" labelPlacement="floating" fill="solid" type="password" placeholder="Ingresar contraseña"></ion-input>
        </ion-item>
      </ion-list>  
    </ion-card-content> 
     <div class="ion-text-center">
        
      <ion-button shape="block" color="primary" size="small" >Login</ion-button>
      <ion-button shape="block" size="small" [routerLink]="['/registro']" color="primary">Registrarse</ion-button>
      <h5 [routerLink]="['/cambiarclave']" fill="clear" >¿Olvidaste tu contraseña?</h5>
     </div>

  </ion-card> 

</ion-content>
