<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> 
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="light" ></ion-menu-button>
    </ion-buttons>
    <div><ion-title class="title">RSN-PHONE</ion-title></div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-card-title class="tamano">Iniciar Sesión</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="email" name="email" label="Email" labelPlacement="floating" type="email" placeholder="Ingresar email" required></ion-input>
        </ion-item>
        <div *ngIf="emailErrorL" class="error-message">
          {{ emailErrorL }}
        </div>
        <ion-item>
          <ion-input  [(ngModel)]="clave" name="clave" label="Clave" labelPlacement="floating" type="password" placeholder="Ingresar clave" [type]="mostrarClave ? 'text' : 'password'" required></ion-input>
          <ion-icon position="floating" class="eye-icon" name="eye" slot="end" (click)="toggleMostrarClave()"></ion-icon>
        </ion-item>

        <div *ngIf="claveErrorL" class="error-message">
          {{ claveErrorL }}
        </div>
      </ion-list>  
    </ion-card-content> 
     <div class="ion-text-center"> 
      
      <ion-button fill="clear" expand="full" class="btn" (click)="logearse()">Ingresar</ion-button>
      <ion-button fill="clear" expand="full" class="btn" [routerLink]="['/registro']" >Registrarse</ion-button>
      <button mat-button color="disabled" shape="block"  size="small" [routerLink]="['/cambiocontra']">¿Olvidaste tu contraseña?</button>
     </div>

  </ion-card> 

</ion-content>
