<ion-app>
  <ion-menu contentId="main-content" side="end">
    <ion-header>
       
      <ion-toolbar>
        <div><ion-title class="title">RSN-PHONE</ion-title></div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="botones"><ion-button fill="clear" expand="full" class="btn" [routerLink]="['/home']">Inicio</ion-button></div>
      <div class="botones"><ion-button fill="clear" expand="full" class="btn"  [routerLink]="['/samsung']">Samsung</ion-button></div>
      <div class="botones"><ion-button fill="clear" expand="full" class="btn"  [routerLink]="['/xiaomi']">Xiaomi</ion-button></div>
      <div class="botones"><ion-button fill="clear" expand="full" class="btn"  [routerLink]="['/login']">Iniciar sesion</ion-button></div>
      <div class="botones"><ion-button fill="clear" expand="full" class="btn"  [routerLink]="['/registro']">Registrarse</ion-button></div>
      <div class="botones"><ion-button fill="clear" expand="full" class="btn"  [routerLink]="['/listacel']">Celulares Disponibles</ion-button></div>
      
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
