<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> 
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>samsung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    
    <div class="ion-text-center ion-align-items-center">
      <div class="item">
         
        <ion-img 
          class="imagen-achicada"
          src="https://home.ripley.cl/store/Attachment/WOP/D191/2000380949768/2000380949768_2.jpg" 
          alt="Imagen desde URL">
        </ion-img>
      </div>
        <div> <ion-label>
          <h4>Samsung Galaxy Z Fold 2 </h4>
          <p class="price">$799.990</p>
        </ion-label></div>
      
       
        <ion-button class="botones-achicados"expand="block" [routerLink]="['/samsung1']" >Ver más</ion-button>
        <ion-button class="botones-achicados" expand="block" >Comprar </ion-button>
      
  </div>
      
  
    <div class="ion-text-center ion-align-items-center">
      <div class="item">
        <ion-img
          class="imagen-achicada2"
          src="https://media.solotodo.com/media/products/1714786_picture_1675314264.webp"
          alt="Imagen desde URL">
        </ion-img>
      </div>
        <div><ion-label>
          <h4>Samsung Galaxy S23 Ultra </h4>
          <p class="price">$929.990</p>
        </ion-label></div>
      
        <ion-button class="botones-achicados" expand="block" [routerLink]="['/samsung2']" >Ver más</ion-button>
        <ion-button class="botones-achicados" expand="block" >Comprar </ion-button>
      
  </div>
      
  
    <div class="ion-text-center ion-align-items-center">
      <div class="item">
        <ion-img 
           class="imagen-achicada"
           src="https://media.solotodo.com/media/products/1633708_picture_1660427487.png"
           alt="Imagen desde URL">
        </ion-img>
      </div>
        <div><ion-label>
          <h4>Samsung Galaxy Z Flip5 </h4>
          <p class="price">$1.080.990</p>
        </ion-label></div>
      
        
        <ion-button class="botones-achicados" expand="block" [routerLink]="['/samsung3']">Ver más</ion-button>  
        <ion-button class="botones-achicados" expand="block" >Comprar </ion-button>
      
  </div>

</ion-content>
