.botones-achicados {
    font-size: 12px;
    padding: 6px 12px;
  }

.imagen-achicada {
    width: 210px; 
    height: auto;
  }

.imagen-achicada2 {
    width: 170px; 
    height: auto;
  }

.botones-achicados {
    font-size: 12px;
    padding: 6px 12px;
  }
.item{
  padding-inline: 100px;
}  