<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button> 
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">RSN-PHONE</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar color="light" show-clear-button="always" value=""></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">

  
  <div style="text-align: center;"><img style="max-width: 300px; width: 100%;" alt="" src="https://images.squarespace-cdn.com/content/v1/589356e4e4fcb5bf186265fb/1661523516886-8YVSN09SQ70A6Y12G5EQ/Samsung-Galaxy-Fold4-Grey-Green-Front.png?format=500w" class="image" /></div>
    <div><ion-text style="font-size: 14px; color: #757478; margin-left: 15px;"><b>SAMSUNG</b></ion-text> </div> 
      <ion-text style="color: #000000; font-size: 18px; margin-left: 15px;"><b>GALAXY Z FOLD 2</b></ion-text><hr>
      <ion-text style="color: #000000; font-size: 18px; margin-left: 15px;">$799.990</ion-text>  
    
      <ion-button fill="clear" class="btn" expand="block" [routerLink]="['/samsung1']">Ver producto</ion-button>
      <hr size="5px" width="100%" color="gray"/>
      <hr>

 
  <div style="text-align: center;"><img style="max-width: 300px; width: 100%;" alt="" src="https://media.solotodo.com/media/products/1714786_picture_1675314264.webp" class="image" /></div>
  <div><ion-text style="font-size: 14px; color: #757478; margin-left: 15px;"><b>SAMSUNG</b></ion-text> </div> 
    <ion-text style="color: #000000; font-size: 18px; margin-left: 15px;"><b>GALAXY S23 ULTRA </b></ion-text><hr>
    <ion-text style="color: #000000; font-size: 18px; margin-left: 15px;">$929.990</ion-text>   
      
    <ion-button fill="clear" class="btn" expand="block" [routerLink]="['/samsung2']">Ver producto</ion-button>
    <hr size="5px" width="100%" color="gray"/>
    <hr>

  <div class="divDescuento"><ion-text class="descuento">20%</ion-text></div>
  <div style="text-align: center;"><img style="max-width: 300px; width: 100%;" alt="" src="https://images.samsung.com/is/image/samsung/p6pim/cl/2307/gallery/cl-galaxy-z-flip5-f731-sm-f731blgjltl-537564370?$1300_1038_PNG$" class="image" /></div>
  <div><ion-text style="font-size: 14px; color: #757478; margin-left: 15px;"><b>SAMSUNG</b></ion-text> </div> 
    <ion-text style="color: #000000; font-size: 18px; margin-left: 15px;"><b> GALAXY Z FLIP 5 </b></ion-text><hr>
    <div><ion-text style="color: #757478; font-size: 15px; margin-left: 15px;"><s>$1.080.990</s></ion-text></div>
    <ion-text style="color: #000000; font-size: 18px; margin-left: 15px;">$864.990</ion-text>  
        
    <ion-button fill="clear" class="btn" expand="block" [routerLink]="['/samsung3']">Ver producto</ion-button>
    <hr size="5px" width="100%" color="gray"/>
    <hr>








    
         

        
    
    
    
    
    
