.title {
    color: rgb(251, 253, 251); 
  
  }
  
  ion-header ion-toolbar {
    --background: #322E2E; 
  }

.btn{
    color: white;
    background-color: #F43435;
    border-radius: 5px;
    margin-top: 40px;
  
  }

.bajar{
    margin-top: 300px;
}

