<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button> 
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="title">Samsung Galaxy Z Flip 5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]= "true"> 
  <ion-card class="product-box">
     
    <img alt="" src="https://images.samsung.com/is/image/samsung/p6pim/cl/2307/gallery/cl-galaxy-z-flip5-f731-sm-f731blgjltl-537564370?$1300_1038_PNG$" class="image" />
    <ion-item>
      <ion-label><h1>Samsung Galaxy Z Flip 5</h1></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>$1.080.990</h2>
      </ion-label>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-select aria-label="Fruit" interface="popover" placeholder="Cantidad">
          <ion-select-option value="apples">1</ion-select-option>
          <ion-select-option value="oranges">2</ion-select-option>
          <ion-select-option value="bananas">3</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-select aria-label="Fruit" interface="popover" placeholder="Color">
          <ion-select-option value="red">Rojo</ion-select-option>
          <ion-select-option value="black">Negro</ion-select-option>
          <ion-select-option value="blue">Azul</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button class="botones-achicados" expand="block" >Comprar </ion-button>

    <div class="content">
      <div *ngIf="showFullContent">
        <div class="divisiones">
          <ion-label class="letras">
            Pantalla: 6,7 pulgadas FHD
          </ion-label>
        </div>
        
        
        <div class="divisiones">
          <ion-label class="letras">
            Procesador: Qualcomm Snapdragon 8 Gen 2 For Galaxy
          </ion-label>
        </div>
        
        <div class="divisiones">
          <ion-label class="letras">
            128 GB de memoria
          </ion-label>
        </div>
        
      </div>
      <button ion-button class="read-more-button" (click)="toggleContent()">
        {{ showFullContent ? 'Leer menos' : 'Especificaciones' }}
      </button>
    </div>
  </ion-card>             
  
</ion-content>
