<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> 
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Samsung Galaxy Z Flip 5</ion-title>
  </ion-toolbar>
</ion-header>


<ion-card class="subirim">
   
  <img alt="" src="https://images.samsung.com/is/image/samsung/p6pim/cl/2307/gallery/cl-galaxy-z-flip5-f731-sm-f731blgjltl-537564370?$1300_1038_PNG$" class="image"/>
  <ion-item>
    <ion-label><h1>Samsung Galaxy Z Flip5</h1></ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h2> $1.080.990</h2>
      
    </ion-label>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-select aria-label="Fruit" interface="popover" placeholder="Cantidad">
        <ion-select-option value="Cantidad">1</ion-select-option>
        <ion-select-option value="Cantidad">2</ion-select-option>
        <ion-select-option value="Cantidad">3</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-select aria-label="Fruit" interface="popover" placeholder="Color">
        <ion-select-option value="Color">Rojo</ion-select-option>
        <ion-select-option value="Color">Negro</ion-select-option>
        <ion-select-option value="Color">Azul</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button class="botones-achicados" expand="block" >Comprar </ion-button>
  <ion-item>
    <ion-label>
      Procesador: Qualcomm Snapdragon 8 Gen 2 For Galaxy
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      Pantalla: 6,7 pulgadas FHD
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      Sistema Operativo: Android
    </ion-label>
  </ion-item>
  