<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> 
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>samsung3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]= "true"> 
  <ion-card class="subirim">
     
    <img alt="" src="https://images.samsung.com/is/image/samsung/p6pim/cl/2307/gallery/cl-galaxy-z-flip5-f731-sm-f731blgjltl-537564370?$1300_1038_PNG$" class="image" />
    <ion-item>
      <ion-label><h1>Samsung Galaxy Z Flip 5</h1></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2> $1.080.990</h2>
      </ion-label>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-select aria-label="Fruit" interface="popover" placeholder="Cantidad">
          <ion-select-option value="apples">1</ion-select-option>
          <ion-select-option value="oranges">2</ion-select-option>
          <ion-select-option value="bananas">3</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-select aria-label="Fruit" interface="popover" placeholder="Color">
          <ion-select-option value="red">Rojo</ion-select-option>
          <ion-select-option value="black">Negro</ion-select-option>
          <ion-select-option value="blue">Azul</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button class="botones-achicados" expand="block" >Comprar </ion-button>
   
    
  
  </ion-card>             
  
</ion-content>
