<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button color="light" ></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Inicio</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-card class="card">
      <ion-card-content>Bienvenido a RSN-PHONE!</ion-card-content>
    </ion-card>
    
    <ion-button fill="clear" (click)="play()">Play</ion-button>
    <ion-button fill="clear" (click)="pause()">Pause</ion-button>
    <ion-button fill="clear" (click)="stop()">Stop</ion-button>
    </div>

    <div style="margin-top: 10px; text-align: center;" ><h1>Productos destacados</h1></div>

    <div><img alt="" src="https://images.samsung.com/is/image/samsung/p6pim/cl/2307/gallery/cl-galaxy-z-flip5-f731-sm-f731blgjltl-537564370?$1300_1038_PNG$" class="image" /></div>
    
    <div><ion-text style="font-size: 14px; color: #757478; margin-left: 15px;"><b>SAMSUNG</b></ion-text> </div> 
      <ion-text style="color: #000000; font-size: 18px; margin-left: 15px;"><b>CELULAR GALAXY Z FLIP 5 512GB</b></ion-text><hr>
      <div><ion-text style="color: #757478; font-size: 15px; margin-left: 15px;"><s>$1.080.990</s></ion-text></div>
      <ion-text style="color: #000000; font-size: 18px; margin-left: 15px;">$864.990</ion-text>  
   
    
      <ion-button fill="clear" class="btn" expand="block" [routerLink]="['/samsung1']">Ver producto</ion-button>
      <hr size="5px" width="100%" align="center" color="gray"/>

     
    

</ion-content>
 
