.botones-achicados {
  font-size: 12px;
  padding: 6px 12px;
  
}

.imagen-achicada {
  width: 210px; 
  height: auto;
}

.imagen-achicada2 {
  width: 170px; 
  height: auto;
}

.botones-achicados {
  font-size: 12px;
  padding: 6px 12px;
  
}
ion-title {
  color: rgb(255, 255, 255); 
}

$colors: (
verde-personalizado: hwb(120 1% 41% / 0.918) 
);

.item{
padding-inline: 100px;
}  
.product-box {
display: flex;
flex-direction: column;
align-items: center;
background-color: rgb(255, 255, 255);
box-shadow: 0 0 15px 0   rgb(5, 230, 72);
border-radius: 40px;
padding: 30px;
margin: 20px;
}
.product-info {
text-align: center;
}
ion-header ion-toolbar {
--background: #2dd36f; 
}
ion-header ion-toolbar:nth-child(2) {
--background: #2dd36f;
}
ion-header, ion-toolbar, ion-content {
--background: #1d1c1cdd; 
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.read-more-button {
  background-color: #02aa02e7;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
    .read-more-button {
      margin-top: 10px;
      width: 100%;
      max-width: 200px; /* Ajusta el ancho máximo según tus preferencias */
      margin: 0 auto;
      display: block;
      background-color: #2dd36f;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #2dd36f;
      }
    }

  

