<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> 
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Samsung Galaxy Z Fold 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-container">
    <img src="https://media.solotodo.com/media/products/1457936_picture_1631629573.jpg" alt="Samsung Galaxy Z Fold 2" class="image">
    <p class="specifications">
      DIMENSIONES Y PESO<br>
      Abierto: 159,2 x 128,2 x 6,9-6 mm<br>
      Plegado: 159,2 x 68 x 16,8-13,8 mm<br>
      282 gramos<br>
      PANTALLAS:<br>
      Principal: 7,6” QXGA+ Dynamic AMOLED 2X Infinity Flex (2.208 x 1.766 px)<br>
      Externa: 6,2" Super AMOLED (2.260 x 816 px)<br>
     
    </p>
  </div>
</ion-content>